@page


<h1>About</h1>

<p>Bine ai venit!</p>
<p>Ne dorim sa ai cea mai buna experienta alaturi de mirosurile din gama noastra larga de parfumuri perfecte pentru tine!</p>

<img src="/images/about.jpg"  />

<body>
    <style>
        <img src="/images/about.jpg" />
    </style>
</body>

<br /><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>



<p>@DateTime.Now</p>
