@page

<html>
 <head>
<h1>About</h1>
<p><b>Bine ai venit!</b></p>
<p>Ne dorim sa ai cea mai buna experienta alaturi de mirosurile din gama noastra larga de parfumuri care se vor dovedi a fi perfecte pentru tine!</p>


<img src="/images/pink.jpg" width="1308" height="200" />

</head>
    <style>
      

        body1 {
            font-family: Arial, Helvetica, sans-serif;
            margin: 5;
        }


      
        .navbar1 {
            overflow: hidden;
            background-color: #333;
        }

         

                .navbar1 a.right {
                    float: right;
                }

                .navbar1 a:hover {
                    background-color: #ddd;
                    color: black;
                }

        
        .main1 {
            -ms-flex: 80%; 
            flex: 80%;
            background-color: pink;
            padding: 10px;
        }

       
        a{
            padding:0;
            margin:0;
            box-sizing:border-box;
        }
       
        .container {
            display:flex;
            flex-wrap:wrap;
            justify-content:center;
            align-items:center;
        }
        .box1,.box2,.box3 {
            width: 300px;
            height:350px;
            background: radial-gradient(circle at top left, transparent 340px, pink),radial-gradient(circle at bottom right,transparent 340px, pink);
            margin:15px;
            padding: 5px;
            color:darkslateblue;
            text-align: center;
        }
        .box1,
        .box2,
        .box3 {
            background-color: salmon;
        }

        
    </style>
<body>



      
        <div class="main1">
        <h2>Compoziția parfumului: vârf, mijloc și bază</h2>
        <h6>Într-un parfum bun, vârful, mijlocul și baza creează un întreg armonios, ale cărui părți se completează și se întrepătrund. Parfumul compilat de un maestru parfumier din ingrediente selectate va dura până la zece ore. În timpul lor, mirosul se schimbă interesant, desigur, în funcție de familia parfumului respectiv, chimia personală a utilizatorului și alți factori.</h6>
            
         

        <div class="container">
            <div class="box1">
            <h2>Varf</h2>
                <p>În vârful listei parfumurilor pentru femei, bărbați și unisex, există de obicei parfumuri energice de citrice, de bergamotă, portocală, mandarină sau lămâie, verdeață proaspătă, acvatice și acorduri parfumate aerate. La acestea se adaugă altele cum ar fi fructe, condimente, ierburi, ceai sau flori. Mirosul tradițional al aldehidelor este reprezentat și în parfumurile tradiționale. Notele superioare sunt adesea împletite cu cele de mijloc.</p>
           </div>
            <div class="box2">
            <h2>Mijloc</h2>
                <p>Mijlocul este de obicei plină de note florale, atât în parfumurile pentru femei, cât și în cele pentru bărbați. Obișnuite sunt iasomia, trandafirul, lavanda, frezia, floarea de portocal, mușcata, magnolia, tuberoza, ylang-ylang, gardenia, bujor, liliac sau orhidee. Stratul de mijloc include, de asemenea, fructe, plante și ingrediente picante - precum scorțișoară, cardamon, ghimbir, piper. Violetele și rădăcina de iris sunt, de asemenea, populare.</p>
            </div>
       
        <div class="box3">
           <h2>Baza</h2>
                <p>Baza parfumului, și cea mai persistentă, poate fi alcătuită din mosc incitant, paciuli, piele, ambră, vetiver, vanilie, boabe de tonka sau mușchi de stejar, cedru, lemn de santal și alte esențe lemnoase rare. Fumul, cum ar fi tămâia sau oud, sunt, de asemenea, ingrediente seducătoare. Acordurile aromate gourmet de ciocolată, nuci, cacao, cafea, miere, caramel și altele similare câștigă, de asemenea, teren.</p>
         </div>
         </div>
        
         <div class="concentratii">
         <h2>Concentratii ale parfumurilor</h2>
            <p><b>Am expus pe larg concentrațiile parfumurilor</b> într-unul din articolele anterioare. Ne-am concentrat asupra abrevierilor <u>P, EdP, EdT și EdC,</u> care denotă parfumuri, ape de parfum, ape de toaletă și colonii.</p>
            <ul>
                <li><b>Parfumul (P)</b> sau Extrait este cea mai intensă formă de parfum. Conține <b>15-30%</b> esență de parfum, deci este suficient să o aplicați pe zonele unde pielea pulsează, într-o cantitate mică - picătură cu picătură. Extractul de parfum durează mai mult de opt ore pe piele și este, fără îndoială, cea mai bună investiție în lumea parfumurilor.</li>
                <li><b>EdP</b> sau Apa de Parfum este cea mai populară. Conține <b>8-15%</b> esență de parfum și durează cinci sau mai multe ore pe piele. Folosiți moderat parfumuri și ape de parfum în timpul zilei, dar seara lăsați-vă reprezentată de magia lor deplină.</li>
                <li><b>EdT</b> sau Apa de Toaletă este, de asemenea, o concentrație foarte des întâlnită, concepută special pentru folosirea zilnică. Conține <b>4-8%</b> esență de parfum. Apa de toaletă durează aproximativ trei ore, așa că sunt aplicate mai des. Dar nu sunt deranjate pentru cei din jur în timpul zilei și sunt, de asemenea, mai accesibile decât apele de parfum și esențele de parfum. Lucrezi toată ziua la birou? Meteorologii anunță o zi călduroasă? Apelați la apa proaspătă de toaletă și nu vă fie teamă să o aplicați pe haine.</li>
                <li><b>EdC</b> sau Apa de Colonie conține <b>3-5%</b> esență de parfum și de obicei se evaporă în două ore. Prin urmare, este destinată aplicării frecvente pe față, corp, păr și îmbrăcăminte. Bărbații o folosesc uneori și după-bărbierit. Apa de colonie are de obicei un gramaj mare și un preț favorabil.</li>
            </ul>
        </div>

        </br></br>
           <i> <p>@DateTime.Now</p></i>




        </div>


    

</body>
</html>


