@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <p>Aici vei gasi cele mai bune produse in materie de mirosuri.</p>
</div>

<div class="description">
    <h1>Ce este parfumul?</h1>
    <p>Un parfum este un amestec lichid de uleiuri aromatice sau compuși aromatici, de fixativi și de solvenți, utilizat pentru a da corpului uman, unor obiecte sau unui spatiu un miros plăcut.</p>
</div>


<img src="/images/pink.jpg" width="1308" height="200"  />
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}



/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}


.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: lightpink;
  padding: 5px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: pink;
  padding: 10px;
}

/* Fake image, just for this example */
.parfum1img{ 
  background-color: lightpink;
  width: 100%;
  padding: 5px;
}

.parfum2img {
   background-color: lightpink;
   width: 100%;
   padding: 5px;
}

.parfum3img {
   background-color: lightpink;
   width: 100%;
   padding: 5px;
}

.perfumes {
   background-color: lightpink;
   width: 100%;
   padding: 5px;
}

/* Footer */
.footer {
  padding: 0px;
  text-align: left;
  background: pink;
}


}
</style>
</head>
<body>





<div class="row">
  <div class="side">
    <h2><u>Cele mai puternice ingrediente</u></h2>
    <h5>Top Esente Parfumuri</h5>
    <div class="esence" style="height:20px;"></div>
            <img src="/images/esence.jpg" style="height:100px; width:386px;" />
            <h4>Cele mai scumpe ingrediente, ce stau la baza parfumurilor de nișă!</h4><br/>
            <img src="/images/iasomie.jpg" style="height:180px; width:280px;"  />
    <div class="parfum1img"><b>-Iasomie-</b></div><br/>
            <img src="/images/ambra.jpg" style="height:180px; width:280px;" />
    <div class="parfum2img"><b>-Ambra-</b></div><br/>
            <img src="/images/iris.jpg" style="height:180px; width:280px;" />
    <div class="parfum3img"><b>-Iris-</b></div>
            
  </div>
  <div class="main">
    <h2>Cum se foloseste parfumul</h2>
            <h6><b>Un parfum bine ales îmbogățește foarte mult buna dispoziție. Este nota de pasiune, care extinde și reflectă personalitatea utilizatorului său. Cu toate acestea, nu vă puteți baza doar pe o alegere fericită - parfumul trebuie purtat într-un anume fel.</b></h6>
    <div class="woman"></div>
            <img src="/images/woman.jpg" style="height:270px; width:904px;" />
            <p>Mai presus de toate: parfumurile pentru femei și bărbați ar trebui să fie întotdeauna un accesoriu interesant și de bun gust, nu un acoperitor de mirosuri neplăcute. Pentru a-i spori perfect farmecul, <b>adaptați locul de aplicare și intensitatea parfumului</b> la starea dvs. de spirit actuală sau la evenimentul social la care participați. Unele parfumuri sunt purtate la locul de muncă, altele pentru evenimente de seară, vara cere parfumuri mai proaspete și iarna mai grele ... Există pur și simplu câteva principii pe care orice iubitor de parfumuri ar trebui să le cunoască.</p>
    
    <br>
            <h2>Unde se va remarca cel mai bine parfumul tău</h2>
            <h6><b>Parfumul are nevoie de căldură pentru a se dezvolta</b> și există mai multe locuri potrivite pe corpul uman în acest sens. Zonele pielii, așa-numitele <b>puncte de puls</b> sau termocorpii includ:</h6>
            <ul>
                 <li>incheieturi</li>
                 <li>gat</li>
                 <li>tample</li>
                 <li>zona din spatele urechilor</li>
                 <li>decolteu</li>
                 <li>antebrat</li>
                 <li>spatele genunchilor</li>
                 <li>glezne</li>
            </ul>
            <div class="perfumes" style="height:60px;"></div>
            <img src="/images/perfumes.png" style="height:100px; width:300px;" />
  </div>
</div>



</body>
</html>